################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/~$oject Proposal - Part 2.docx
/~$oject Proposal.docx
/~$ans and Procedures.docx
/~WRL0003.tmp
*.cache
/WindowsFormsApplication1/WindowsFormsApplication1/bin/Release/SQLServer.pdf
/WindowsFormsApplication1/WindowsFormsApplication1/bin/Release/SQLServer.xml
/WindowsFormsApplication1/WindowsFormsApplication1/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/Time Sheet/~$Patrick.xlsx
Time Sheet/~$Project Time Sheet.xlsx
*.~vsdx
/~$oject Proposal V1.8.docx
*.xlsx#
*.docx#
