################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/~$oject Proposal - Part 2.docx
/~$oject Proposal.docx
/~$ans and Procedures.docx
/~WRL0003.tmp
